section{
    text-align: center;
}
section a{
    text-decoration-line: none;
    padding: 30px;
}
input{
   width: 150px;
   height: 40px;
   border:1px solid;
   background-color: white;
  
}
.touch{
    width: 150px;
    height: 40px;
    border:1px solid;
    background-color: rgb(31, 160, 48);
    
}
.centrer{
   margin-top: 60px;
}
h1{
    font-size: 50px;
}